img{
    float: left;
    margin: 5px;
    height: 14cm;
    width: 18cm;
}
h1{
    display: block;
    background-color: yellow;
    width: 18cm;
}
p{
    
    text-align: justify;
    
    
    
}
h2{
    text-align: justify;
    
}